.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
  text-align: center;
  background-color: #eeeeee;

  @media (max-width: $mobile-width-only) {
    padding-top: 21px;
    padding-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    min-height: 256px;
  }

  &--with-picture {
    z-index: 3;
    min-height: 191px;
    color: $basic-white;
    background-color: $basic-half-backed;
  }

  &--with-picture .advantages__description {
    padding-top: 18px;
    padding-right: 13px;
    padding-left: 12px;
  }
}

@media (max-width: $mobile-width-only) {
  .advantages__item + .advantages__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 280px;
    height: 1px;
    margin: 0 auto;
    background-color: #d6d6d6;
  }
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  padding-top: 5px;
}

.advantages__number {
  display: block;
  line-height: 21px;
  padding-top: 10px;
}

.advantages__description {
  margin: 0;
  line-height: 21px;
  padding-top: 18px;
  padding-right: 32px;
  padding-left: 32px;
}

.advantages__image {
  min-height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--city {
    background-color: #b2bdac;
    background-image: url("../img/main-city-mobile@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-city-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      grid-column: 2 / 4;
      background-image: url("../img/main-city-tablet@1x.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/main-city-desktop@1x.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
      }
    }
  }

  &--bridge {
    background-color: #e7bba7;
    background-image: url("../img/main-bridge-mobile@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bridge-mobile@2x.jpg");
    }
    @media (min-width: $tablet-width) {
      grid-row: 1;
      grid-column: 1 / 3;
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/main-bridge-desktop@1x.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
      }
    }
  }
}

.advantages__advices {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 330px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
