.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 33%;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 13px;
  padding-right: 12px;

  &--with-picture {
    min-height: 211px;
    color: $basic-white;
    background-color: $basic-half-backed;
  }
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  line-height: 21px;
}

.advantages__description {
  margin: 0;
}

.advantages__image-wrapper {
  display: block;
  min-height: 260px;
  background-color: #b1beaa;
}

.advantages__image {


}

.advantages__advices {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
