.advices__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.advices__description {
  margin: 0;
  padding-top: 16px;
  line-height: 21px;
}

.advices__item {
  position: relative;
  padding-right: 11px;
  padding-left: 68px;
}

.advices__icon {
  position: absolute;


  &--house {
    top: -9px;
    left: 21px;
    width: 39px;
    height: 37px;
  }

  &--gift {
    top: -11px;
    left: 25px;
    width: 32px;
    height: 38px;
  }

  &--burger {
    top: -5px;
    left: 18px;
    width: 40px;
    height: 35px;
  }
}

@media (max-width: $mobile-width-only) {
  .advices__item + .advices__item {
    margin-top: 26px;
  }
}
