.button {
  display: block;
  width: 280px;
  height: 58px;
  border: none;
  padding: 0;
  padding-top: 15px;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-half-backed;

  @media (min-width: $tablet-width) {
    width: 458px;
  }

  &--send {
    padding-top: 6px;

    @media (min-width: $tablet-width) {
      width: 324px;
      padding-right: 11px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding-right: 0;
    }
  }

  &--failure {
    padding-top: 1px;
    width: 180px;
    font-size: 18px;
    line-height: 26px;

    @media (min-width: $tablet-width) {
      width: 272px;
    }
  }

  &--success {
    padding-top: 1px;
    font-size: 18px;
    line-height: 26px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
    }
  }
}
