.form-feedback {
  display: grid;
  grid-template-rows: min-content;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    margin-top: 14px;
    margin-bottom: 45px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    margin-top: 29px;
    margin-right: 7.81%;
    margin-bottom: 68px;
    margin-left: 7.81%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
    margin-right: 10%;
    margin-bottom: 73px;
    margin-left: 10%;
  }
}

.form-feedback__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  border: none;

  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &--id {
    @media (max-width: $mobile-width-only) {
      padding-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      padding-left: 58px;
    }
  }

  &--telemail {
    padding-bottom: 28px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;

      &::before,
      &::after {
        position: absolute;
        top: 42px;
        content: "";
        display: block;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    @media (min-width: $desktop-width) {
      &::before,
      &::after {
        width: 280px;
      }
    }
  }

  &--radio {
    padding-bottom: 29px;

    @media (min-width: $tablet-width) {
      grid-row-start: 1;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 292px;
        width: 1px;
        background-color: #dbdbdb;
        right: 0;
        top: 23px;
      }
    }
  }

  &--checks {
    padding-top: 15px;
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      padding-top: 21px;

      &::before,
      &::after {
        position: absolute;
        top: 47px;
        content: "";
        display: block;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 12px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 27px;


      &::before,
      &::after {
        width: 280px;
      }
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;

      &::before,
      &::after {
        position: absolute;
        top: 42px;
        content: "";
        display: block;
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    @media (min-width: $desktop-width) {
      &::before,
      &::after {
        width: 280px;
      }
    }

    @media (max-width: $mobile-width-only) {
      &::after {
        display: none;
      }
    }
  }
}

.form-feedback__fieldset + .form-feedback__fieldset {
  @media (max-width: $mobile-width-only) {
    &::before {
      display: none;
    }
  }
}

.form-feedback__container {
  display: flex;
  flex-direction: column;


  @media (max-width: $mobile-width-only) {
    margin-right: 6.25%;
    margin-left: 6.25%;
  }

  @media (min-width: $tablet-width) {
    align-items: start;
  }

  &--id {
    row-gap: 20px;

    @media (min-width: $desktop-width) {
      padding-left: 24px;
    }
  }

  &--telemail {
    align-items: center;

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content;
    }
  }

  &--radio {
    row-gap: 13px;

    @media (min-width: $desktop-width) {
      padding-left: 4px;
    }
  }

  &--checks {
    @media (max-width: $mobile-width-only) {
      row-gap: 23px;
    }

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      align-items: center;
      column-gap: 36px;
      row-gap: 22px;
      margin-right: 72px;
      margin-left: 95px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 259px 258px 239px 216px;
      grid-template-rows: min-content;
      column-gap: 0;
      margin-top: 2px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      align-items: center;
    }
  }
}

.form-feedback__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &--telemail {
    flex-direction: column;
    padding-top: 16px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-items: start;
      justify-content: start;
      padding-top: 0;
    }
  }

  &--radiochecks {
    justify-content: flex-start;

    @media (min-width: $tablet-width) {
      padding-bottom: 10px;
    }
  }

  &--textarea {
    padding-top: 14px;
    padding-bottom: 51px;

    @media (min-width: $tablet-width) {
      padding-bottom: 58px;
    }
  }
}

.form-feedback__label {
  padding-right: 13px;

  &--telemail {
    align-self: flex-start;
    padding-bottom: 7px;
    padding-left: 21px;

    @media (min-width: $desktop-width) {
      align-self: center;
      padding-top: 6px;
      padding-bottom: 0;
      padding-right: 16px;
      padding-left: 0;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding-top: 8px;
    }
  }

  &--radiochecks {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
  }

  &--desktop {
    padding-right: 0;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.form-feedback__input-wrapper {
  width: 100%;
  position: relative;


  &--tel,
  &--email {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: block;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--tel {
    padding-top: 2px;

    &::after {
      margin-top: 2px;
      background-image: url("../img/icon-phone.svg");
    }

    @media (min-width: $desktop-width) {
      width: 316px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-top: 4px;
    }

    &::after {
      background-image: url("../img/icon-mail.svg");
    }

    @media (min-width: $desktop-width) {
      width: 316px;
    }
  }
}

.form-feedback__input {
  width: 100%;
  height: 58px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;

  &::placeholder {
    color: $basic-black;
  }

  &::-moz-placeholder {
    color: $basic-black;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border: 4px solid #e5e5e5;
    background-color: $basic-white;
  }
}

.form-feedback__legend {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 21px;
  }

  &--id {
    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }
  }

  &--telemail {
    @media (min-width: $tablet-width) {
      margin-top: 11px;
      margin-bottom: 6px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      margin-bottom: 68px;
    }
  }

  &--radio {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 9px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 76px;
    }
  }

  &--checks {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      margin-bottom: 22px;
      padding-right: 104px;
      padding-left: 80px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 360px;
      padding-left: 344px;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      padding-top: 11px;
      margin-bottom: 40px;
    }
  }
}

.form-feedback__radio,
.form-feedback__checkbox {
  position: relative;
  appearance: none;
  margin: 0;
  display: block;
  border: 5px solid #f2f2f2;
  background-color: #f2f2f2;
  cursor: pointer;

  &:hover {
    border: 5px solid #e5e5e5;
    background-color: #e5e5e5;
  }

  &:active {
    border: 5px solid #d5d5d5;
    background-color: #d5d5d5;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
  }
}

.form-feedback__radio {
  width: 55px;
  height: 55px;
  margin-right: 24px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  &::before {
    width: 20px;
    height: 20px;
    top: 11px;
    left: 13px;
    border-radius: 50%;
  }

  &:checked {
    &::before {
      background-color: #333333;
      border: 3px solid #333333;
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }
}

.form-feedback__checkbox {
  width: 55px;
  height: 55px;
  margin-right: 26px;
  border-radius: 10%;

  &::before {
    top: 14px;
    left: 11px;
    width: 23px;
    height: 16px;
  }

  &:checked {
    &::before {
      background-image: url("../img/icon-tick.svg");
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }
}

.form-feedback__textarea {
  width: 100%;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }

  padding-left: 21px;
  height: 160px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  resize: none;

  &::placeholder {
    color: $basic-black;
  }

  &::-moz-placeholder {
    color: $basic-black;
    opacity: 1;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    border: 4px solid #e5e5e5;
    background-color: $basic-white;
  }
}

.form-feedback__reminder {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.form-feedback__reminder-text {
  padding-bottom: 14px;
}

.form-feedback__button {
  @media (max-width: $mobile-width-only) {
    margin-right: auto;
    margin-left: auto;
  }
}
