.intro {
  min-height: 389px;
  background-color: #DFEAF3;
  background: url('../../img/bg-back-mobile@1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
