.main-heading {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    min-height: 189px;
  }

  @media (min-width: $tablet-width) {
    min-height: 206px;
  }

  text-align: center;

  &--index {
    @media (max-width: $mobile-width-only) {
      min-height: 241px;
      &::before,
      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 100%;
        width: 50%;
        height: 74px;
        background-color: $basic-half-backed;
      }

      &::before {
        right: 50%;
        transform-origin: right;
        transform: skewX(5deg) rotate(5deg);
      }

      &::after {
        left: 50%;
        transform-origin: left;
        transform: skewX(-5deg) rotate(-5deg);
      }
    }
  }
}

.main-heading__title {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 27px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }

  &--index {
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      padding-top: 44px;
      font-size: 21px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 56px;
    }
  }
}

.main-heading__description {
  $padding-side: 20px;
  margin: 0;
  padding-right: $padding-side;
  padding-left: $padding-side;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    $padding-side: 170px;
    padding-top: 6px;
    padding-right: $padding-side;
    padding-left: $padding-side;
  }

  @media (min-width: $desktop-width) {
    $padding-side: 380px;
    padding-right: $padding-side;
    padding-left: $padding-side;
  }

  &--index {
    $padding-side: 20px;
    padding-top: 0;
    padding-right: $padding-side;
    padding-left: $padding-side;
    line-height: 26px;
  }
}
