*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  max-width: 1200px;
  margin: auto;

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}
