.page-main {
  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.page-main__advantages {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
