.photo-gallery__list {
  display: grid;
  grid-template: 1fr / 1fr;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin-top: 43px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content min-content;
  }
}

.photo-gallery__item {
  @media (max-width: $mobile-width-only) {
    position: relative;
    min-height: 416px;
    padding-top: 22px;
    padding-bottom: 15px;
  }

  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {

  }

  &--first-item {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      min-height: 480px;
    }
  }
}

.photo-gallery__item + .photo-gallery__item {
  @media (max-width: $mobile-width-only) {
    &::before {
      display: none;
    }
  }
}
