.presentation {
  text-align: center;
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 112px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 92px;
  }
}

.presentation__title {
  margin: 0;
  @media (max-width: $mobile-width-only) {
    padding-top: 32px;
    font-size: 18px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}

.presentation__description {
  margin: 0;
  @media (max-width: $mobile-width-only) {
    $padding-side: 30px;
    padding-top: 26px;
    padding-right: $padding-side;
    padding-left: $padding-side;
  }

  @media (min-width: $tablet-width) {
    $padding-side: 160px;
    padding-top: 33px;
    padding-right: $padding-side;
    padding-left: $padding-side;
  }

  @media (min-width: $desktop-width) {
    $padding-side: 370px;
    padding-right: $padding-side;
    padding-left: $padding-side;
  }
}

.presentation__videoplayer {
  @media (max-width: $mobile-width-only) {
    margin-top: 35px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
  }
}


