.site-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    color: $basic-white;

    &:hover:not(.site-list__logo) a[href] {
      background-color: #669ec0;
    }

    &:active a[href] {
      background-color: #5496bd;
      color: rgba($basic-white, 0.3);
    }

    &--last {
      position: relative;
    }

    &--last::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  @media (min-width: $tablet-width) {
    color: $basic-black;
    background-color: $basic-white;

    &--active {
      color: #766357;

      &:hover {
        color: #604e43;
      }

      &:active {
        color: rgba(#766357, 0.3);
      }
    }

    &:hover a[href] {
      color: $basic-half-backed;
    }

    &:active a[href] {
      opacity: 0.3;
    }
  }
}

.site-list__item--last .site-list__link {
  @media (max-width: $mobile-width-only) {
    border-bottom: none;
  }
}

.site-list__logo {
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  &:hover {
    background-color: $basic-white;
  }

  &:active a[href] {
    background-color: $basic-white;
    opacity: 1;
  }
}

.site-list__link {
  flex-grow: 1;
  text-align: center;
  height: 56px;
  padding-top: 11px;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #9bc2db;
    border-bottom: 1px solid #688fa8;
  }

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    font-size: 14px;
    line-height: 26px;
  }
}
