.videoplayer {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width-only) {
    width: 320px;
    min-height: 201px;
    background-image: url("../img/video-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    min-height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    padding-top: 1px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.videoplayer__controls {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    bottom: -66px;
    left: 6.25%;
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: 45px 66px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    align-items: center;
    width: 100%;
    height: 93px;
    background-color: rgba($basic-black, 0.6);
  }
}

.videoplayer__progressbar {
  position: relative;

  @media (max-width: $mobile-width-only) {
    height: 45px;
    grid-column: 1 / -1;
    background-color: rgba($basic-black, 0.6);
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    padding-left: 34px;
  }
}

.videoplayer__timeline {
  cursor: pointer;
  display: block;
  height: 3px;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 22px;
    left: 22px;
    width: 235px;
    background-color: rgba($basic-white, 0.2);
  }

  @media (min-width: $tablet-width) {
    width: 389px;
    background-color: rgba($basic-white, 0.2);
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.videoplayer__pin {
  position: absolute;
  display: block;
  border: 5px solid $basic-white;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    top: 18px;
    left: 57px;
  }

  @media (min-width: $tablet-width) {
    top: -3px;
    left: 145px;
  }
}

.videoplayer__replay,
.videoplayer__subtitles,
.videoplayer__fullscreen {
  @media (max-width: $mobile-width-only) {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }
}

.videoplayer__subtitles {
  @media (max-width: $mobile-width-only) {
    justify-content: flex-end;
  }

  @media (min-width: $tablet-width) {
    padding-left: 39px;
  }
}

.videoplayer__button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 35px;
  height: 25px;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    &--replay {
      width: 16px;
      height: 20px;
      margin-right: 74px;
    }

    &--subtitles {
      width: 32px;
      height: 20px;
    }

    &--fullscreen {
      width: 20px;
      height: 20px;
      padding-left: 4px;
    }
  }
}

.videoplayer__replay {
  @media (max-width: $mobile-width-only) {
    grid-column: 1 / 3;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-left: 25px;
  }
}

.videoplayer__fullscreen {
  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.videoplayer__icon {
  @media (max-width: $mobile-width-only) {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: rgba(#333333, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    fill: $basic-white;

    &:hover {
      fill: rgba($basic-white, 0.6);
    }

    &:active {
      fill: rgba($basic-white, 0.3);
    }
  }
}
